@import "tailwindcss";

@theme {
  --color-primary: #0d0df2;
  --color-primary-20: rgb(13 13 242 / 0.2);
  --color-background-light: #f5f5f8;
  --color-background-dark: #101022;
  --font-display: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
